.infoboxwrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f9f9f9;
}

.infoboxwrap span {
  align-items: center;
  text-align: center;
  text-wrap: pretty;
  padding: 0.91rem;
  border-color: var(--border-color);
  border-style: var(--border-style);
  border-width: var(--border-width);
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  background-color: var(--input-info-background-color);

  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  -ms-box-shadow: var(--box-shadow);
  -o-box-shadow: var(--box-shadow);
}
