
    .baseButton.paginationNext{

        background: var(--button-next);
        background-color: var(--button-next);
        color: var(--button-next-font-color)
    }

    .baseButton.paginationNext > span {
        color: var(--button-next-color);
    }
    
  .baseButton.paginationNext:hover {
    background-color: var(--button-next-hover);
  
  }
  
  .baseButton.paginationNext:hover > span {
    color: var(--button-next-hover-font-color);
    font-weight: 500;
  }


  .baseButton.paginationNext:active {
    background-color: var( --button-next-active);
  
  }
  
  .baseButton.paginationNext:active > span {
    color: var(--button-next-font-color-active);
    font-weight: 500;
  }


