
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html, body {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  p {
    text-wrap: pretty;
  }
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  h3{
   padding: 0.5rem; 
  }